<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <title>5G ML APP</title>
  </head>
  <body style="background-color:aliceblue">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">5G ML APP</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pred">Prediction</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div
        class="row featurette d-flex justify-content-center align-items-center my-4"
      >
        <div class="col-md-7">
          <h2 class="featurette-heading">About the project.....</h2>
          <p class="lead">
            We envision a world where 5G technology isn't just a buzzword but an
            everyday reality, empowering individuals and businesses with
            lightning-fast, reliable, and efficient connectivity. We have
            developed a powerful machine learning model that optimizes resource
            allocation in 5G networks. By understanding your unique requirements
            and characteristics such as Application Type, Signal Strength,
            Latency, Required Bandwidth, and Allocated Bandwidth, we ensure that
            you get the best out of your 5G connection.
          </p>
        </div>
        <div class="col-md-5">
          <img
            class="img-fluid"
            src="static/images/1.1.jpg"
            alt=""
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
            width="500"
            height="500"
          />
        </div>
      </div>
      <div
        class="row featurette d-flex justify-content-center align-items-center my-4"
      >
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Solution Architecture</h2>
          <p class="lead">
            The proposed solution architecture for AI-Driven Optimization of 5G
            Resource Allocation is a comprehensive framework designed to bridge
            the gap between pressing business challenges in 5G network
            deployment and cutting-edge technology solutions. It follows a
            structured process that begins with the analysis of network resource
            allocation issues and requirements gathering from stakeholders. Data
            collection and preprocessing are crucial steps, ensuring the
            acquisition and preparation of relevant data, which is then used for
            feature engineering and machine learning model development. Model
            evaluation and selection help identify the best-performing algorithm
            for optimized resource allocation. A web-based user interface is
            created to provide users with secure access to the system, offering
            reporting capabilities and data export for customer care executives.
          </p>
        </div>

        <div class="col-md-5">
          <img
            class="img-fluid"
            src="static/images/1.2.png"
            alt=""
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
            width="500"
            height="500"
          />
        </div>
      </div>
      <div
        class="row featurette d-flex justify-content-center align-items-center my-4"
      >
        <div class="col-md-7">
          <h2 class="featurette-heading">Technical Architecture</h2>
          <p class="lead">
            The technical architecture of the 5G ML Project seamlessly
            integrates various components to provide a robust and user-friendly
            experience. It starts with user authentication and authorization,
            ensuring secure access for both users and administrators. Users
            enter specific parameters related to their resource allocation
            needs, which are then processed by a sophisticated machine learning
            model. The predictions generated are stored in a database for future
            reference. Our architecture prioritizes data security, with a
            dedicated database for storing user and admin credentials. The user
            interface ties all these elements together, offering an intuitive
            platform for users to interact with the system, making resource
            allocation in 5G networks a hassle-free and efficient process.
          </p>
        </div>
        <div class="col-md-5">
          <img
            class="img-fluid"
            src="static/images/1.3.png"
            alt=""
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
            width="500"
            height="500"
          />
        </div>
      </div>
      <div
        class="row featurette d-flex justify-content-center align-items-center my-4"
      >
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Application Type</h2>
          <p class="lead">
            The "Application Type" feature in our 5G ML Project is a critical
            element that allows users to specify the nature of the applications
            they intend to run on the 5G network. It caters to the diverse
            requirements of different applications, whether they are streaming,
            gaming, IoT, or business-related. By accurately identifying the
            application type, our system can predict the most suitable resource
            allocation, ensuring optimal network performance. This feature
            empowers users to tailor their 5G experience to the specific needs
            of their applications, guaranteeing a seamless and responsive
            network environment for a wide range of use cases.
            <b>Refer this table while doing predictions for best results.</b>
          </p>
        </div>

        <div class="col-md-5">
          <img
            class="img-fluid"
            src="static/images/1.4.jpg"
            alt=""
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
            width="300"
            height="300"
          />
        </div>
      </div>
    </div>
    <footer class="container" style="padding: 10px 0px 10px 0px">
      <p class="float-right"><a href="#">Back to top</a></p>
      <p>
        Copyright © 2023 . AI-Driven Optimization of 5G Resource Allocation for
        Network Efficiency.
      </p>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
